/* =======================================================
   Vnutri Apps — мобильная адаптация
   Только медиа-запросы, ПК не тронут
======================================================= */

/* Планшеты и небольшие ноутбуки */
@media screen and (max-width: 1024px) {
       .grid-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-style .box {
    width: 95%;
    max-width: 500px; /* ограничиваем, чтобы не растягивалось слишком */
    margin-bottom: 1.5rem;
  }
    
    

.cta-wrapper .button:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
}

/* Планшеты и большие телефоны */
@media screen and (max-width: 768px) {
    .grid-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-style .box {
    width: 95%;
    max-width: 500px; /* ограничиваем, чтобы не растягивалось слишком */
    margin-bottom: 1.5rem;
  }
    
    
}

/* Мелкие телефоны */
@media screen and (max-width: 480px) {
        .grid-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-style .box {
    width: 95%;
    max-width: 500px; /* ограничиваем, чтобы не растягивалось слишком */
    margin-bottom: 1.5rem;
  }
    
    .box .content h2 {
        font-size: 1.0em;
    }
    .box .content p {
        font-size: 1.1em;
    }
    .button.alt {
        padding: 8px 15px;
        font-size: 0.9em;
    }
     

}
